<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document Edit</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<div class="bs-example">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a href="#" th:href="@{/}" class="navbar-brand">GO</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a href="#" class="nav-item nav-link active">Home</a> <a
						th:href="@{/home/product}" class="nav-item nav-link">Products</a>
					<a th:href="@{/about/home}" class="nav-item nav-link">About</a>
				</div>
				<form class="form-inline ml-auto">
					<input type="text" class="form-control mr-sm-2"
						placeholder="Search">
					<button type="submit" class="btn btn-outline-light">Search</button>
				</form>
			</div>
		</nav>
	</div>


	<!-- table  -->
	<div class="container mt-5">
		<h1>Information</h1>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
			ad dolore rem facere soluta error excepturi placeat sunt omnis
			nostrum quis non molestiae aperiam temporibus architecto, corporis
			cumque dolores natus.</p>
		<br>

		<!-- <span th:text=${persona.firstname} </span> -->
		<a href="/home/showform" class="btn btn-primary btn-lg"> New</a>

		<div class="table-responsive">
			<table class="table mt-2 text-center ">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						
						
					</tr>
				</thead>
				<tbody th:each="producto : ${list}">
					<tr>

						<td th:text=${producto.id}></td>
						<td th:text=${producto.name}></td>
						<td th:text=${producto.price}></td>
						
						
					</tr>

				</tbody>
			</table>
		</div>
	</div>




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>