<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>gortiz</title>
</head>

<body>

	<div class="bs-example">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a href="#" class="navbar-brand">Brand</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a href="#" class="nav-item nav-link active">Home</a> <a href="#"
						class="nav-item nav-link">About</a> <a href="#"
						class="nav-item nav-link">Products</a>
				</div>
				<form class="form-inline ml-auto">
					<input type="text" class="form-control mr-sm-2"
						placeholder="Search">
					<button type="submit" class="btn btn-outline-light">Search</button>
				</form>
			</div>
		</nav>
	</div>


	<!-- table  -->
	<div class="container mt-5">
		<h1>Information</h1>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
			ad dolore rem facere soluta error excepturi placeat sunt omnis
			nostrum quis non molestiae aperiam temporibus architecto, corporis
			cumque dolores natus.</p>
		<br>

		<!-- <span th:text=${persona.firstname} </span> -->
		<a href="/home/showform"  class="btn btn-primary"> New</a>
		<table class="table mt-2 text-center">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
					<th scope="col">Date of birth</th>
					<th scope="col">Country</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody th:each="person : ${list}">
				<tr>

					<td th:text=${person.id}></td>
					<td th:text=${person.firstname}></td>
					<td th:text=${person.lastname}></td>
					<td th:text=${person.email}></td>
					<td th:text=${person.country}></td>
					<td><a th:href="@{edit/{id}(id=${person.id})}"
						class="btn btn-success btn-sm  fas fa-user-edit">Edit</a></td>

					<td><a th:href="@{delete/{id}(id=${person.id})}"
						class="btn btn-danger btn-sm  fa fa-car">Delete</a></td>
				</tr>

			</tbody>
		</table>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>

</html>